/* Objects */
.o-clrw {
	display: flex;
	flex-direction: column;
	gap: 24px;
}

@media only screen and (min-width: 800px) {
	.o-clrw {
		flex-direction: row;
		gap: 6vw;
	}
}

.o-grid {
	display: grid;
	grid-template-columns: repeat(12, 1fr);
	gap: 24px;

	position: relative;
	z-index: 3;
	width: 100%;
	/* border: 1px solid red; */
}

.o-list {
	display: flex;
	flex-direction: column;
	gap: 16px;
	pointer-events: all;
	height: fit-content;
}

@media only screen and (min-width: 800px) {
	.o-list {
		gap: 16px;
  }

	.o-list--sm {
		gap: 20px;
	}

	.o-list--xs {
		gap: 8px;
	}
}

