/* Objects */
.o-clrw {
	display: flex;
	flex-direction: column;
	gap: 24px;
}

@media only screen and (min-width: 800px) {
	.o-clrw {
		flex-direction: row;
		gap: 6vw;
	}
}

.o-list {
	display: flex;
	flex-direction: column;
	gap: 16px;
	pointer-events: all;
	height: fit-content;
}

@media only screen and (min-width: 800px) {
	.o-list {
		gap: 32px;
  }

	.o-list--sm {
		gap: 20px;
	}

	.o-list--xs {
		gap: 8px;
	}
}

