/* Objects */
.o-clrw {
	display: flex;
	flex-direction: column;
	gap: 24px;
}

@media only screen and (min-width: 800px) {
	.o-clrw {
		flex-direction: row;
		gap: 6vw;
	}
}

.o-grid {
	display: grid;
	grid-template-columns: repeat(24, 1fr);
	gap: 12px;

	position: relative;
	z-index: 3;
	width: 100%;

	pointer-events: none;
}

.o-list {
	display: flex;
	flex-direction: column;
	gap: 16px;
	height: fit-content;
}

.o-list--sm {
	gap: 8px;
}

.o-list--xs {
	gap: 2px;
}

@media only screen and (min-width: 800px) {
}

