@import url('./typography.css');
@import url('./objects.css');
@import url('./utilities.css');
@import url('./animations.css');
@import url('./video.css');

:root {
	--color-black: #1e1e1e;
	--color-black-tr-1: rgba(70, 70, 72, 0.847);
	--color-black-tr-2: rgba(63, 63, 65, 0.8);
	--color-black-tr-3: rgba(63, 63, 65, 0.653);

	--color-bg: #f4f4f4;
	--color-white: #ededed;
	--spc-m: 12px;
	--spc-default: var(--spc-m);
	--spc-width-def: 250px;
}

.color {
	color: #172574;
	color: #132276;
	color: black;
}

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

html,
body {
	overflow: hidden;
	color: var(--color-black);
	background-color: var(--color-bg);
}

main {
	position: relative;
	height: 100vh;
	width: 100%;
}

.webgl, .canvas-poster {
	position: absolute;
	top: 0;
	left: 0;
	z-index: 0;
}

button, .btn,
button:active,
button:focus,
button:hover,
button:disabled {
	text-transform: uppercase;
	border: none;
	padding: 5px 7px 4px;
	background-color: var(--color-black-tr-1);
	color: var(--color-white);
	border-radius: 0;
	text-align: center;
	width: fit-content;
	transition: background-color .3s ease;
}

button.btn.disabled {
	/* color: rgba(255, 255, 255, 0.517); */
}

button.btn.selected {
	background-color: var(--color-black-tr-3);
	/* text-decoration: underline!important; */
}



@media only screen and (min-width: 1080px) {
	button.btn:hover {
		background-color: var(--color-black-tr-2);
		transition: background-color .3s ease;
	}
}


button.btn.disabled:hover {
	background-color: var(--color-black-tr-1);
}

button:focus,
a:focus {
  outline: none;
  box-shadow: none;
}

a,
a:link,
a:active,
a:focus {
  color: inherit;
	text-transform: none;
}

a {
	text-decoration: none;
}

a:hover {
	text-decoration: underline;
}

li {
	list-style: none;
}

ul ul {
	margin-left: 8px; /* indent */
}

pre {
	white-space: pre-wrap;
	text-transform: none;
	overflow-x: visible;
}

.highlight-1 {
	padding: 5px 4px;
	background-color: rgba(3, 3, 3, 0.599);
	color: var(--color-white);
	border-radius: 0;
}


/* Menu and panels */
.s-panel {
	color: var(--color-white);
	position: absolute;
  top: 40%;
  left: 50%;
  -ms-transform: translate(-50%, -40%);
  transform: translate(-50%, -40%);
	z-index: 3;
}

@media only screen and (min-width: 700px) {
	.s-panel {
		top: 50%;
		left: 50%;
		-ms-transform: translate(-50%, -50%);
		transform: translate(-50%, -50%);
	}
}

.s-panel > header {
	display: none;
	margin-bottom: 1px;
}

.s-panel__spc {
	padding: 5px 7px 4px;
	background: var(--color-black-tr-2);
}

.s-panel__body {
	width: 345px;
	display: flex;
	flex-direction: column;
	gap: 1px;
}

.s-panel__body.info {
	gap: 6px;
	padding: 8px 9px 8px 9px;
}

.s-panel__body.info nav span{
	display: block;
}

@media only screen and (min-width: 700px) {
	.s-panel__body.info nav span{
		display: inline;
	}
}

@media only screen and (min-width: 1200px) {
	.s-panel__body.info {
		width: 654px;
	}
}

.c-hdr {
	position: absolute;
	bottom: 16px;
  left: 50%;
	z-index: 4;
  -ms-transform: translate(-50%, 0);
  transform: translate(-50%, 0);
	display: flex;
	justify-content: flex-end;
}

.c-hdr #btn-toggle-data {
	white-space: nowrap;
}



.c-menu  {
	display: flex;
	gap: 1px;
	height: fit-content;
	opacity: 0;
	transition: opacity 0.7s ease-out;
}



.c-menu * {
	pointer-events: all;
}


/* Data containers and sections */
.s-data {
	width: 100%;
	pointer-events: all;
}

.s-data header{
	margin-bottom: 4px;
}

.data-tgl {
	display: block;
}

@media only screen and (min-width: 1500px) {
	.data-tgl {
		max-width: 222px;
	}
}

.data-tgl * {
	text-transform: uppercase;

}
.visible {
	display: block;
}

.hide {
	display: none;
}

/* Data Containers */
.s-data-grid {
	padding: 0 var(--spc-default);
	position: relative;
	height: 100%;
	opacity: 0;
	transition: opacity 0.7s ease-out;
}

@media only screen and (max-width: 1250px) {
	.o-grid.s-data-grid {
		display: block;
		width: fit-content;
	}
}

.s-data-cnt {
	padding-top: var(--spc-default);
}


.s-data-clnd {
	margin-top: 16px;
}

.scroll-cnt {
	overflow-y: auto;
  scrollbar-width: none;
	-ms-overflow-style: none;
	/* scroll-behavior: smooth; */
}

.scroll-cnt::-webkit-scrollbar {
	display: none;
}

@media only screen and (max-width: 1250px) {
	.scroll-cnt.s-data-cnt {
		overflow-y: unset;
	}

	.s-data-cnt {
		max-width: 225px;
	}
}

.scroll-cnt.s-data-grid {
	overflow-y: scroll;
	height: 100vh;
}

@media only screen and (min-width: 1250px) {
	.scroll-cnt.s-data-grid {
		overflow-y: unset;
		height: 100%;
	}


}

/* Position of data containers */
/* grid positioning*/
.s-data-cnt--intro {
	grid-column: 1 / span 3;
	grid-row: 1;
	max-width: 200px;
}

.s-data-cnt--gltf {
	grid-column: 6 / span 3;
	grid-row: 1;
}

.s-data-cnt--gpu {
	grid-column: 6 / span 3;
	grid-row: 2;
}

.s-data-cnt--rot {
	grid-column: 14 / span 3;
	grid-row: 1;
}

.s-data-cnt--zoom {
	grid-column: 18 / span 2;
	grid-row: 1;
}

.s-data-cnt--time {
	grid-column: 21 / span 3;
	grid-row: 1;
}

.s-data-cnt--fps {
	grid-column: 23 / 25;
	justify-items: self-start;
	grid-row: 1;
}

@media only screen and (min-width: 1250px) {
	.s-data-cnt--intro {
		grid-column: 1 / span 4;
		max-width: unset;
		grid-row: 1;
	}

	.s-data-cnt--intro > div .perm{
		max-width: 192px;
	}

	.s-data-cnt--gltf {
		grid-column: 5 / span 4;
		grid-row: 1;
	}

	.s-data-cnt--gpu {
		grid-column: 9 / span 4;
		grid-row: 1;
	}

	.s-data-cnt--rot {
		grid-column: 13 / span 4;
		grid-row: 1;
	}

	.s-data-cnt--zoom {
		grid-column: 17 / span 4;
		grid-row: 1;
	}

	.s-data-cnt--time {
		grid-column: 21 / span 4;
		grid-row: 1;
		max-width: 180px;

	}

	.s-data-cnt--fps {
		grid-column: 23 / 25;
		justify-items: self-end;
		grid-row: 1;
	}
}

@media only screen and (min-width: 1500px) {
	.s-data-cnt--intro {
		grid-column: 1 / span 4;
	}

	
	.s-data-cnt--intro > div .perm{
		max-width: 214px;
	}

	.s-data-cnt--gltf {
		grid-column: 5 / span 4;
	}

	.s-data-cnt--gpu {
		grid-column: 9 / span 4;
	}

	.s-data-cnt--rot {
		grid-column: 13 / span 4;
	}

	.s-data-cnt--zoom {
		grid-column: 17 / span 4;

	}

	.s-data-cnt--time {
		grid-column: 21 / span 4;
		max-width: 230px;
	}
}

/* flex */
.s-data-cnt--tl {
	height: 200px;
	overflow: auto;
	padding-top: 85vh;
	pointer-events: none;

	-ms-overflow-style: none;
  scrollbar-width: none;
}

.s-data-cnt--tl::-webkit-scrollbar {
  display: none;
}

.s-data-cnt--tl > div {
	pointer-events: none;
}

@media only screen and (min-width: 800px) {
	.s-data-cnt--tl {
		top: 0;
		left: 0;
		height: unset;
		overflow: auto;
		padding-top: 0;
		pointer-events: none;
	}

	.s-data-cnt--tr,
	.s-data-cnt--mr,
	.s-data-cnt--ml,
	.s-data-cnt--ctr {
		position: absolute;
	}
}

/* Transparent components  */
.c-transp {
	/* padding: 5px 6px 4px; */
	/* background-color: var(--color-black); */
	/* color: var(--color-black); */
	/* border-radius: 4px; */
	/* opacity: 0.80; */
	/* margin-bottom: 2px; */
	z-index: 2;
	position: relative;
}

.o-list--sm {
	gap: 1px;
}

