@import url('./typography.css');
@import url('./objects.css');
@import url('./utilities.css');
@import url('./animations.css');



:root {
	--color-black: #1e1e1e;
	--color-white: #ededed;
	--spc-m: 12px;
	--spc-default: var(--spc-m);
}

* {
	margin: 0;
	padding: 0;
}

html,
body {
	overflow: hidden;
	color: var(--color-black);
}

main {
	position: relative;
	height: 100vh;
	width: 100%;
}

.webgl, .canvas-poster {
	position: absolute;
	top: 0;
	left: 0;
	z-index: 0;
}

button {
	text-transform: uppercase;
	border: none;
	font-size: 12px;
}

li {
	list-style: none;
}

ul ul {
	margin-left: 16px; /* indent */
}

footer {
	position: fixed;
	bottom: 0;
}


/* Data containers and sections */
.s-data header{
	margin-bottom: 6px;
}

/* Data Containers */
.s-data-cnt {
	position: relative;
	width: fit-content;
	z-index: 2;
	padding: var(--spc-default);
}

/* Positioning the data containers */
.s-data-cnt--tl {
	top: 0;
	left: 20%;
}

.s-data-cnt--tr {
	right: 0;
	top: 0;
}

.s-data-cnt--mr,
.s-data-cnt--ml {
	top: 48%;
}

.s-data-cnt--mr {
	right: 0;
}

.s-data-cnt--ctr {
	top: 0;
	right: 0;
}

.s-data-cnt--tl {
	height: 200px;
	overflow: auto;
	padding-top: 85vh;
	pointer-events: none;

	-ms-overflow-style: none;  
  scrollbar-width: none;  
}

.s-data-cnt--tl::-webkit-scrollbar {
  display: none;
}

.s-data-cnt--tl > div {
	pointer-events: none;
}

@media only screen and (min-width: 800px) {
	.s-data-cnt--tl {
		top: 0;
		left: 0;
		height: unset;
		overflow: auto;
		padding-top: var(--spc-default);
		pointer-events: none;
	}

	.s-data-cnt--tr,
	.s-data-cnt--mr,
	.s-data-cnt--ml, 
	.s-data-cnt--ctr { 
		position: absolute;
	}
}




/* Transparent components  */
.c-transp {
	/* padding: 5px 6px 4px; */
	/* background-color: var(--color-black); */
	color: var(--color-black);
	border-radius: 4px;
	/* opacity: 0.80; */
	/* margin-bottom: 2px; */
	z-index: 2;
	position: relative;
}













