@import url('./typography.css');
@import url('./objects.css');
@import url('./utilities.css');
@import url('./animations.css');

:root {
	--color-black: #1e1e1e;
	--color-white: #ededed;
	--spc-m: 12px;
	--spc-default: var(--spc-m);
	--spc-width-def: 250px;
}

.color {
	color: #172574;
	color: #132276;
	color: black;

}
* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

html,
body {
	overflow: hidden;
	color: var(--color-black);
}

main {
	position: relative;
	height: 100vh;
	width: 100%;
}

.webgl, .canvas-poster {
	position: absolute;
	top: 0;
	left: 0;
	z-index: 0;
}

button, .btn {
	text-transform: uppercase;
	border: none;
	font-size: 10px;
	padding: 2px 4px 1px;
	background-color: rgba(0, 0, 0, 0.573);
	color: var(--color-white);
	border-radius: 0;
	text-align: left;
	width: fit-content;
}

button:focus,
a:focus {
  outline: var(--color-black) auto 1px;
  box-shadow: none;
}

a,
a:link,
a:active,
a:focus {
  color: inherit;
}

li {
	list-style: none;
}

ul ul {
	margin-left: 16px; /* indent */
}

pre {
	white-space: pre-wrap;
	text-transform: none;
}


/* Sections */
.s-controls-cnt {
	position: absolute;
	bottom: 10vh;
	left: 0;
	padding: var(--spc-default);
}

.s-controls-cnt * {
	pointer-events: all;
}

/* Control positioning */
.s-controls-cnt--menu {
	grid-column: 1 / span 3;
	grid-row: 1;
}
.s-controls-cnt--ctr {
	grid-column: 18 / span 5;
	grid-row: 1;
}

.s-controls-cnt--ctr > div{
	
}
.s-controls-cnt--menu *{
	text-decoration: underline;
}

.s-controls-cnt--ctr {
	width: fit-content;
}

.s-controls-cnt--ctr .o-list .highlight-2 {
	display: flex;
}

.s-controls-cnt--ctr header {
	margin-bottom: 1px!important;
}
.s-controls-cnt--ctr p {
	font-size: 11px;
	font-weight: normal;
}

/* Data containers and sections */
.s-data {
	width: fit-content;
	pointer-events: all;
}

.s-data header{
	margin-bottom: 2px;
}

/* Data Containers */
.s-data-grid {
	padding: 0 var(--spc-default);
	position: relative;
	height: 100%;
		/* position: relative;
	z-index: 2;
	pointer-events: none; */
	/* margin: var(--spc-default); */
}

.s-data-cnt {
	padding-top: var(--spc-default);
	padding-bottom: var(--spc-default);
	overflow-y: scroll;
	-ms-overflow-style: none;
  scrollbar-width: none;
	height: 100%;
}

.s-data-cnt--tl::-webkit-scrollbar {
  display: none;
}


/* Position of data containers */
/* grid positioning*/
.s-data-cnt--intro {
	grid-column: 1 / span 4;
	grid-row: 1;
	max-width: 230px;
}

.s-data-cnt--geo {
	grid-column: 6 / span 3;
	grid-row: 1;
}

.s-data-cnt--dummy {
	grid-column: 10 / span 3;
	grid-row: 1;
}

.s-data-cnt--rot {
	grid-column: 14 / span 3;
	grid-row: 1;
}

.s-data-cnt--zoom {
	grid-column: 18 / span 2;
	grid-row: 1;
}

.s-data-cnt--time {
	grid-column: 21 / span 3;
	grid-row: 1;
}

.s-data-cnt--fps {
	grid-column: 23 / 25;
	justify-self: end;
	grid-row: 1;
}

@media only screen and (min-width: 1500px) {
	.s-data-cnt--geo {
		grid-column: 6 / span 3;
		margin-left: 3rem;
	}

	
	.s-data-cnt--dummy {
		grid-column: 11 / span 3;
		grid-row: 1;
	}
}

/* flex */

.s-data-cnt--tl {
	top: 0;
	left: 20%;
}

.s-data-cnt--tr,
.s-data-cnt--ctr {
	top: var(--spc-default);
	right: var(--spc-default);
}

.s-data-cnt--mr,
.s-data-cnt--ml {
	top: 48%;
}

.s-data-cnt--mr {
	right: var(--spc-default);
}

.s-data-cnt--ctr {
	top: var(--spc-default);
	right: var(--spc-default);
}

.s-data-cnt--tl {
	height: 200px;
	overflow: auto;
	padding-top: 85vh;
	pointer-events: none;

	-ms-overflow-style: none;
  scrollbar-width: none;
}

.s-data-cnt--tl::-webkit-scrollbar {
  display: none;
}

.s-data-cnt--tl > div {
	pointer-events: none;
}

@media only screen and (min-width: 800px) {
	.s-data-cnt--tl {
		top: 0;
		left: 0;
		height: unset;
		overflow: auto;
		padding-top: 0;
		pointer-events: none;
	}

	.s-data-cnt--tr,
	.s-data-cnt--mr,
	.s-data-cnt--ml, 
	.s-data-cnt--ctr { 
		position: absolute;
	}
}

/* Transparent components  */
.c-transp {
	/* padding: 5px 6px 4px; */
	/* background-color: var(--color-black); */
	/* color: var(--color-black); */
	/* border-radius: 4px; */
	/* opacity: 0.80; */
	/* margin-bottom: 2px; */
	z-index: 2;
	position: relative;
}





.o-list--sm {
	gap: 1px;
}

.highlight-1 {
	padding: 5px 4px;
	background-color: rgba(3, 3, 3, 0.599);
	color: var(--color-white);
	border-radius: 0;
}

.highlight-2 {
	padding: 5px 4px;
	color: white;
	background: #00000075;
	padding-right: 9px;
}