/* Typography */
@font-face {
	font-family: 'B612Mono';
	src: url('../assets/fonts/B612Mono-Bold.ttf') format('truetype');
	font-weight: bold;
	font-style: normal;
}

@font-face {
	font-family: 'B612Mono';
	src: url('../assets/fonts/B612Mono-Regular.ttf') format('truetype');
	font-weight: normal;
	font-style: normal;
}

* {
	font-size: 10px;
	font-family: 'B612Mono', 'Helvetica', "monospace";
	font-weight: normal;
	line-height: 15.5px;
	text-transform: uppercase;
	letter-spacing: -0.4px;
}

@media only screen and (min-width: 1200px) and (max-width: 1549px) {
	* {
		font-size: 9px;
		line-height: 12.5px;
	}
}

p, .p1, p.p1 {
	/* font-size: 9px;
	font-weight: normal;
	line-height: 12.5px;
	letter-spacing: -0.4px; */
}

.p2, p.p2 {
	font-size: 12px;
	line-height: 14.5px;
	font-weight: normal;
	letter-spacing: 0.1px;
}

h1,
h3, .h3,
h4, .h4, a, button,
.p2, p.p2 {
	font-size: 11px;
	font-weight: bold;
	line-height: normal;
}

.s-panel__body.info p.p2{
	text-transform: none;
	font-size: 11px;
	line-height: 15px;
}

@media only screen and (min-width: 1200px) and (max-width: 1549px) {
	h1, 
	h3, .h3, 
	h4, .h4, 
	a, button,
	.p2, p.p2 {
			font-size: 10px;
	}
}

p.p2, .p2 {
	font-weight: normal;
}
button, a {
	font-weight: normal;
}
h2, .h2 {
	font-size: 16px;
	font-weight: normal;
}

.txt-bold, .txt-bold * {
	font-weight: bold;
}

::selection {
  color: var(--color-white);
  background: var(--color-black);
}