@font-face {
	font-family: 'B612Mono';
	src: url('./assets/B612Mono-Bold.ttf') format('truetype');
	font-weight: bold;
	font-style: normal;
}

@font-face {
	font-family: 'B612Mono';
	src: url('./assets/B612Mono-Regular.ttf') format('truetype');
	font-weight: normal;
	font-style: normal;
}

:root {
	--color-black: #1e1e1e;
	--color-white: #ededed;
}

* {
	margin: 0;
	padding: 0;
	font-size: 10px;
	font-family: 'B612Mono', "monospace";
	font-weight: normal;
	line-height: 12.5px;
}

.canvas-poster {
	width: 100%;
	height: 100%;
	object-fit: cover;
}

html,
body {
	overflow: hidden;
	text-transform: uppercase;
	color: var(--color-black);
}

main {
	position: relative;
	height: 100vh;
	width: 100%;
}

button {
	text-transform: uppercase;
	border: none;
	font-size: 12px;
}

h2 {
	font-size: 16px;
}

h3 {
	font-size: 12px;
	font-weight: bold;
}

h4 {
	font-size: 10px;
	font-weight: normal;
}

li {
	list-style: none;
}

ul ul {
	margin-left: 16px;
}

.webgl, .canvas-poster {
	position: absolute;
	top: 0;
	left: 0;
}



/* Data containers and sections */
.s-data-cnt {
	position: relative;
	width: fit-content;
	z-index: 2;
	padding: 12px;
}

.s-data-cnt--rg {
	top: 0;
	left: 20%;
	height: 200px;
	overflow: auto;
	padding-top: 85vh;
	pointer-events: none;

	-ms-overflow-style: none;  
  scrollbar-width: none;  
}

.s-data-cnt--rg::-webkit-scrollbar {
  display: none;
}

.s-data-cnt--lf {
	right: 0;
	top: 0;
}

.s-data-cnt--rg  > div {
	pointer-events: none;
}

@media only screen and (min-width: 800px) {
	.s-data-cnt--rg {
		top: 0;
		left: 0;
		height: unset;
		overflow: auto;
		padding-top: 12px;
		pointer-events: none;
	}

	.s-data-cnt--lf {
		position: absolute;
	}
}

.s-data {
	width: 205px;
	display: flex;
	flex-direction: column;
	gap: 16px;
	pointer-events: all;
	height: fit-content;
}

@media only screen and (min-width: 800px) {
	.s-data {
		gap: 32px;
		width: 250px;
  }
}

.s-data__el header{
	margin-bottom: 8px;
}

/* Transparent components  */
.c-transp {
	padding: 5px 6px 4px;
	background-color: var(--color-black);
	color: var(--color-white);
	border-radius: 4px;
	opacity: 0.80;
	margin-bottom: 2px;
	z-index: 2;
	position: relative;
}

.c-transp p {
	font-size: 9px;
	line-height: 11px;
}

.c-transp > header {
	margin-bottom: 8px;
}

.c-transp > header h2{
	margin-top: 6px;
}

.c-crt {
	position: absolute;
	top: 0;
	margin: 16px 0;
	z-index: 2;
	height: fit-content;
	max-width: 200px;
}

.c-crt__data {
	left: 50%;
	transform: translate(-50%, 0%);
}

@media only screen and (min-width: 800px) {
	.c-crt{
		top: 32%;
		margin: 16px;
		max-width: 200px;
	}
	
	.c-crt__data {
		right: 0px;
		transform: unset;
		left: unset;
	}

	.c-crt__btn {
		top: 36%;
		left: 0px;
	}
}

/* Objects */
.o-clrw {
	display: flex;
	flex-direction: column;
	gap: 24px;
}

@media only screen and (min-width: 800px) {
	.o-clrw {
		flex-direction: row;
		gap: 6vw;
	}
}


/* Utilities */
.txt-no-transform {
	text-transform: initial;
}

.txt-bold, .txt-bold * {
	font-weight: bold;
}

.grid {
	display: grid;
	gap: 24px 16px;
	justify-content: start;
	grid-template-columns: repeat(12, 1fr);
	grid-template-rows: repeat(3, 1fr);
}

.p-24 {
	padding: 24px;
}

.p-12 {
	padding: 12px;
}

.m-24 {
	margin: 24px;
}

.m-12 {
	margin: 12px;
}

/* .s-data .s-data__el:nth-child(1) {
	grid-column: 1 / 3;
  grid-row: 1;
}

.s-data .s-data__el:nth-child(2) {
	grid-column: 1 / 3;
  grid-row: 2;
}

.s-data .s-data__el:nth-child(3) {
	grid-column: 1 / 3;
  grid-row: 3;
}

/* Base geometry array */
/* .s-data .s-data__el:nth-child(4) {
	grid-column: 4/6;
  grid-row: 1 / span 3;
}

.s-data .s-data__el:nth-child(5) {
	grid-column: 7/9;
	grid-row: 1;
}

.s-data .s-data__el:nth-child(6) {
	grid-column: 7/9;
	grid-row: 2;
}

.s-data .s-data__el:nth-child(7) {
	grid-column: 12/13;
	grid-row: 1;
}  */

::selection {
  color: var(--color-white);
  background: var(--color-black);
}

/* Animations  */


/* Fade in */
.s-data-cnt {
	animation: fadeIn 1s ease-in-out forwards;
	opacity: 0;
}

.c-transp {
	animation: fadeIn 1s ease-in-out forwards;
	opacity: 0;
}

.webgl, .canvas-poster {
	opacity: 0;
}

.webgl.loaded, .canvas-poster.loaded {
	animation: fadeIn 2s ease-in-out forwards;
}

@keyframes fadeIn {
	0% { opacity: 0; }
	100% { opacity: 1; }
}
